<div class="headline">
  <h1><%= @contact[:name] %></h1>
  <a href="/contacts/<%= @contact[:id] %>/edit">edit</a>
  <form method="post" action="/contacts/<%= @contact[:id] %>/delete"><button>delete</button></form>
</div>
<em><%= @contact[:category].to_s %></em>

<p>Phone Number: <%= @contact[:phone] %></p>
<p>E-mail: <%= @contact[:email] %></p>

<a href="/contacts">Return to all contacts</a>
