<form method="post" action="/contacts/<%= @contact[:id] %>">
<div>
  <label>Name:</label>
  <input value="<%= @contact[:name] %>" name="name">
</div>
<div>
  <label>Phone Number:</label>
  <input value="<%= @contact[:phone] %>" name="phone_number">
</div>
<div>
  <label>Email Address:</label>
  <input value="<%= @contact[:email] %>" name="email">
</div>
<div>
  <label>Category:</label>
  <select value="<%= @contact[:category] %>" name="category">
    <option value="family">Family </option>
    <option value="friends">Friends</option>
    <option value="work">Work</option>
  </select>
</div>

<button type="submit">Save Changes</button>
</form>
